/* EmployeeDashboard.css */

.dashboard-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #2f3542;
  color: rgb(1, 1, 1);
  padding: 20px;
  flex-shrink: 0;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar nav a {
  display: block;
  color: rgb(19, 18, 18);
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.sidebar nav a:hover {
  color: #70a1ff;
}

.main-content {
  flex: 1;
  padding: 30px;
  background-color: #f1f2f6;
}

/* Responsive layout */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .sidebar nav a {
    display: inline-block;
    margin: 10px 10px;
  }
}
